{% extends "base.html" %}

{% block head %}
<style type="text/css">
nav .navbar-brand > img {
    height: 2rem;
    width: auto;
}
</style>
{% endblock %}

{% block body %}
<nav class="px-3 navbar navbar-expand navbar-light bg-light">
    <a class="mx-3 navbar-brand" href="#">
        <img src="{{ url_for('static', filename='images/logo-2x.png') }}" alt="GoVLê">
    </a>
    
    <div class="p-0 container-fluid">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link h5" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link h5" href="#">Classes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link h5" href="#">Calendar</a>
            </li>
        </ul>
    </div>                                        
    
    <div class="mx-5 px-5 dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false"></button>
        <div class="mr-5 dropdown-menu dropdown-menu-right text-right">
            <a class="dropdown-item" type="button" href="#">Settings</a>
            <a class="dropdown-item" type="button" href="#">About GoVlê</a>
            <a class="dropdown-item" type="button" href="#">Log out</a>
        </div>
    </div>
</nav>

{% if full_width == 'true' %}
<div class="container-fluid">
{% else %}
<div class="container mx-0 px-0 mw-100 d-flex flex-column">
{% endif %}
    {% block content %}
    {% endblock %}
</div>
{% endblock %}
