{% extends "base-logged-in.html" %}

{% block title %}
&#8212; Calendar
{% endblock %}

{% block content %}
<!-- Put your code here -->

<html>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 26px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
</style>
<body>
    <h2 align="center">
    March 2022
    </h2>
    <br />
      
    <table align="center" 
        cellspacing="21" cellpadding="21">
        <thead>
            <tr>
                <th>SUN</th>
                <th>MON</th>
                <th>TUE</th>
                <th>WED</th>
                <th>THU</th>
                <th>FRI</th>
                <th>SAT</th>
            </tr>
        </thead>
          
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>1</td>
                <td>2</td>
            </tr>
            <tr></tr>
            <tr>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
            </tr>
            <tr>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
                <td>15</td>
                <td>16</td>
            </tr>
            <tr>
                <td>17</td>
                <td>18</td>
                <td>19</td>
                <td>20</td>
                <td>21</td>
                <td>22</td>
                <td>23</td>
            </tr>
            <tr>
                <td>24</td>
                <td>25</td>
                <td>26</td>
                <td>27</td>
                <td>28</td>
                <td>29</td>
                <td>30</td>
            </tr>
            <tr>
                <td>31</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
        </tbody>
    </table>
</body>
  
</html>
{% endblock %}

{% block scripts %}
<!-- The following JavaScript file will be at /static/scripts/calendar.js -->
<script src="{{ url_for('static', filename='scripts/calendar.js') }}"></script>
{% endblock %}
