{% extends "base-logged-in.html" %}

{% block title %}
&#8212; Classes
{% endblock %}

{% block local_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/classes.css') }}">
{% endblock %}

{% block content %}
<!-- Header -->
<div class="row">
    <div class="col-md-12 mb-4">
        <h1>Your classes</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card border-primary mb-3" style="min-width: 24rem; min-height: 10rem; border: 6px solid">
            <div class="row no-gutters">
                <div class="col-md-2 bg-primary" style="min-height: 10rem;">
                    <img src="{{ url_for('static', filename='images/sun.png') }}" alt="weather" width="100" class="my-4 mx-3">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h4 class="card-title">5 assignments this week</h4>
                        <p class="card-text">CS 145, CS 180, CS 192</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- List of classes per platform -->
<hr>
<div class="row my-4">
    <div class="col-md-12">
        <h2>UVL&#234;</h2>
    </div>
    <div class="col-md-12">
        <p>Unimplemented</p>
    </div>
</div>
<div class="row mb-4">
    <div class="col-md-12">
        <h2>Google Classroom</h2>
    </div>
</div>
<div class="row pb-4" id="classes-classroom">
    <div class="col-md-12 text-center">
        <div class="spinner-border mx-auto text-primary" role="status">
            <span class="sr-only">Loading...</span>           
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- The following JavaScript file will be at /static/scripts/classes.js -->
<script src="{{ url_for('static', filename='scripts/classes.js') }}"></script>
{% endblock %}
