{% extends "base-logged-in.html" %}

{% block title %}
&#8212; Home
{% endblock %}

{% block local_style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.12/css/weather-icons.min.css"
    integrity="sha512-r/Gan7PMSRovDus++vDS2Ayutc/cSdl268u047n4z+k7GYuR7Hiw71FsT3QQxdKJBVHYttOJ6IGLnlM9IoMToQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">
{% endblock %}

{% block content %}
{% if link_status != 'failure' %}
<div class="row">
    <div class="offset-xl-2 col-xl-4 col-12">
        <h1 id="greeting">Good <span id="time-of-day">day</span>,<br>{{ current_user['name'] }}</h1>
    </div>
    <div class="col-xl-4 col-12">
        <div class="weather">
            <div class="weather-icon">
                <i id="weather-icon" class="wi"></i>
            </div>
            <div class="weather-detail">
                <h2 id="weather-temp">Loading weather...</h2>
                <p id="weather-desc"></p>
                <p id="weather-fl"></p>
            </div>
        </div>
    </div>
</div>
{% endif %}

{# Account linking message #}
<div class="row justify-content-center">
    <div class="col-12 col-md-8">
{% if link_status == 'success' %}
        <div class="alert alert-success text-center">
            <strong>Success!</strong> Your
            {% if link_type == 'google' %}Google
            {% elif link_type == 'moodle' %}UVL&#234;
            {% endif %}
            account has been linked.
        </div>
{% elif link_status == 'failure' %}
        <div class="alert alert-danger text-center">
            <h4>There was an error linking your account</h4>
            <p class="mb-0">
            {% if link_type == 'google' %}
                Could not link your Google Classroom account. Please deauthorize GoVL&#234; under
                <strong>Third-party apps with account access</strong> at
                <a href="https://myaccount.google.com/permissions" target="_blank">Google My Account</a>
                before attempting to link again.
            {% elif link_type == 'moodle' %}
                Could not link your UVL&#234; account. Please check your username and password and try again.
            {% endif %}
            </p>
        </div>
{% endif %}
    </div>
</div>

{# Unlinked accounts message #}
{% if incomplete_moodle == True or incomplete_google == True %}
<div class="row justify-content-center">
    <div class="col-12 col-md-8">
        <h4>Link your class accounts</h4>
        <p>
            GoVL&#234; works best with all your accounts working together.<br>
            Please link your accounts to continue.
        </p>
        {% if incomplete_google == True %}
        <p>
            <a href="{{ url_for('link-google.link_google_page') }}"
               class="btn btn-primary">
                Link Google Classroom &#8599;
            </a>
        </p>
        {% else %}
        <div class="alert alert-success">
            <p>Google Classroom linked</p>
        </div>
        {% endif %}
        {% if incomplete_moodle == True %}
        <p>
            <a href="{{ url_for('link-moodle.link_moodle_page') }}"
               class="btn btn-primary">
                Link UVL&#234; &#8599;
            </a>
        </p>
        {% else %}
        <div class="alert alert-success">
            <p>UVL&#234; linked</p>
        </div>
        {% endif %}
        <hr class="my-5"/>
    </div>
</div>
{% endif %}

<div class="row justify-content-center">
    <div class="col-xl-8 col-12 text-center" id="deadlines-container">
        <div class="spinner-border mx-auto text-primary" role="status">
            <span class="sr-only">Loading...</span>           
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/dashboard.js') }}"></script>
{% endblock %}
