{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="head">
    <img style="padding-top: 10px; padding-left: 10px; height: 35px" src="{{ url_for('static', filename='images/logo-2x.png')}}">
    <p id="logo">GoVl&#234;</p>
    <p ></p>
    <a id="login" href="{{ url_for('login.login_page') }}">Log in or register ↗</a>
</div>
<div class="body">
    <ul>
        <li>All your classes in one place</li>
        <li><button>Get started</button></li>
    </ul>
    <img style="padding-right: 150px; height: 400px;" id="illus" src="{{ url_for('static', filename='images/home-illus.png') }}">

</div>
<div class="block">
    <table>
        <tbody>
            <tr id="column">
                <th>Lorem ipsum</th>
                <th>Nunc efficitur</th>
            </tr>
            <tr id="row">
                <td>dolor sit amet, consectetur 
                    adipiscing elit. Praesent ac tempor arcu, eget pulvinar 
                    velit. Aliquam erat volutpat. Pellentesque nulla mi, 
                    sodales nec purus sit amet, ornare euismod dolor. 
                    Pellentesque lobortis tortor imperdiet, volutpat quam a, 
                    commodo orci. Fusce sit amet tincidunt turpis.
                <td>Lorem id libero interdum 
                    accumsan. Sed ligula arcu, vestibulum vel nulla non, 
                    tempor ultrices lacus. Proin facilisis ex odio. 
                    Maecenas eu turpis non nisl efficitur volutpat ut 
                    eleifend lectus. Nunc vel feugiat nunc, eget rhoncus 
                    risus. Sed at bibendum dolor, eget sodales quam.
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
