{% extends "base.html" %}

{% block head %}
<style type="text/css">
    #login-form {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
{% endblock %}

{% block body %}
<div class="row" id="login-form">
    <div class="login-form">
        <h3 class="mb-3">Log in to GoVLê</h3>
        <div class="google-signin">
            <div id="g_id_onload"
                data-client_id="{{ google_client_id }}"
                data-login_uri="{{ domain }}/login"
                data-auto_prompt="true"
                data-context="signin"
                data-ux_mode="popup"
                data-auto_select="true">
            </div>
            <div class="g_id_signin"
                data-type="standard"
                data-size="large"
                data-theme="outline"
                data-text="signin_with"
                data-shape="rectangular"
                data-logo_alignment="left">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://accounts.google.com/gsi/client" async defer></script>
{% endblock %}
