{% extends "base-auth.html" %}

{% block title %}
&#8212; Link UVL&#234;
{% endblock %}

{% block auth_content %}
<div class="login-form">
    <h1>Link UVL&#234;</h1>
    <div class="alert alert-danger">
        <div id="alert-content">
            <h4>Please read before proceeding</h4>
            <p>
                Unlike Google, UVLê does <strong>not</strong> currently offer a way for a third-party website to access user
                data <strong>without first requiring the user to give that website their password.</strong>
            </p>
            <p>
                Your credentials are <strong>NOT</strong> stored by GoVLê; they are only used to obtain a token,
                and you will be required to enter them again when the token expires.
            </p>
        </div>
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">
            I understand, acknowledge, and allow that <strong>GoVLê will use my UVLê credentials to obtain a
            token</strong> that it can use to access data about my classes.
        </label>
    </div>
    <form style="display: none">
        <div class="form-group">
          <label for="uvle-username">Username</label>
          <input type="text" class="form-control" id="uvle-username">
        </div>
        <div class="form-group">
          <label for="uvle-password">Password</label>
          <input type="password" class="form-control" id="uvle-password">
        </div>
        <button type="submit" class="btn btn-block btn-primary">Log in to UVLê</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsencrypt/3.2.1/jsencrypt.min.js" integrity="sha512-hI8jEOQLtyzkIiWVygLAcKPradIhgXQUl8I3lk2FUmZ8sZNbSSdHHrWo5mrmsW1Aex+oFZ+UUK7EJTVwyjiFLA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- The following JavaScript file will be at /static/scripts/settings.js -->
<script src="{{ url_for('static', filename='scripts/login-uvle.js') }}"></script>
{% endblock %}
