{% extends "base-auth.html" %}

{% block title %}
&#8212; Login
{% endblock %}

{% block auth_content %}
<h1 style="margin-bottom: 20px;">Come here often?</h1>
<p>Whether you're new to GoVL&#234; or you already have an account, just click the nifty Sign In button
    below.</p>
<div class="google-signin">
    <div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline"
        data-text="signin_with" data-shape="pill" data-logo_alignment="left">
    </div>
</div>

<p style="font-weight: 700; margin-top: 20px; margin-bottom: 20px; font-size: 14px;">
    Please sign in with your @up.edu.ph Google account.
</p>
<p style="font-size: 14px;">This app is in beta and is therefore limited only to a few students from the
    University of the Philippines Diliman.</p>
{% endblock %}

{% block scripts %}
<script src="https://accounts.google.com/gsi/client" async defer></script>
{% endblock %}
