{% extends "base-logged-in.html" %}

{% block title %}
&#8212; Settings
{% endblock %}

{% block content %}
<br>
<div class="row">
    <div class="col"></div>
    <div class="col-md-8">
        <h1 class="mx-auto pb-5">Settings</h1>
    </div>                
    <div class="col"></div>
</div>

<div class="row">
    <div class="col"></div>
    <div class="col-md-8">
        <h2 class="mx-auto pb-5">Linked accounts</h2>
        <div class="row no-gutters" id="linked-accounts">
            <div class="col-md-12 text-center">
                <div class="spinner-border mx-auto text-primary" role="status">
                    <span class="sr-only">Loading...</span>           
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>

<br>
<div class="row">
    <div class="col"></div>
    <div class="col-md-8">
        <h2 class="mx-auto pb-5">Account actions
            <hr></h2>
        <p><a href="#" class="btn btn-danger w-100">
            Delete account permanently &#8599;
        </a></p>
    </div>
    <div class="col"></div>
</div>
{% endblock %}

{% block scripts %}
<!-- The following JavaScript file will be at /static/scripts/settings.js -->
<script src="{{ url_for('static', filename='scripts/settings.js') }}"></script>
{% endblock %}
