#deadlines-container {
    margin-top: 3rem;
}

.deadline {
    display: grid;
    grid-template-columns: 7rem 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "deadline-date deadline-detail";
    grid-gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.deadline:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 1rem;
}

.deadline > .deadline-date {
    grid-area: deadline-date;
    width: 7rem;
    height: 7rem;
    border-radius: 15px;
    background: #0B4F6C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.deadline-date > h1, .deadline-date > h6 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 0;
}

.deadline-date > h1 {
    font-weight: 100;
    font-size: 3rem;
    margin-bottom: .125rem;
}

.deadline-date > h6 {
    font-weight: 700;
    font-size: 1rem;
}

.deadline > .deadline-detail {
    grid-area: deadline-detail;
}

.deadline-set > h2 {
    font-weight: 500;
    font-size: 1.75rem;
}

.deadline-set .course-link {
    display: inline-block;
    margin-left: .5rem;
    font-weight: 400;
    font-size: 1rem;
}

.weather {
    display: grid;
    grid-template-columns: 4rem 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "weather-icon weather-detail";
    grid-gap: 1.5rem;
    border-left: 1px solid #ddd;
    padding-left: 2.5rem;
    height: 100%;
}

.weather > .weather-icon {
    grid-area: weather-icon;
    width: 4rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-icon i {
    display: block;
    font-size: 2.5rem;
}

.weather > .weather-detail {
    grid-area: weather-detail;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.weather-detail h2, .weather-detail p {
    margin-bottom: .125rem;
}

.weather-detail h2 {
    font-weight: 500;
    font-size: 1.5rem;
}

.weather-detail p {
    font-size: 0.875rem;
    line-height: 1rem;
}

#weather-fl {
    color: #999;
}

@media screen and (max-width: 1199px) {
    #greeting {
        text-align: center;
    }
    #deadlines-container {
        margin-top: 5rem;
    }
    .deadline {
        grid-template-columns: 4rem 1fr;
    }
    .deadline > .deadline-date {
        width: 4rem;
        height: 4rem;
        border-radius: 5px;
    }
    .deadline-date h1 {
        font-size: 1.5rem;
    }
    .deadline-date h6 {
        font-size: 0.75rem;
    }
    .weather {
        margin-top: 1rem;
        border: none;
        padding-left: 0;
    }
}
